# Ignore the build and lib dirs
build/*
lib/*

# Ignore any intermediate stuffs in src dir
src/*_C.d
src/*_C.so
src/*ACLiC*

# Ignore any executables
bin/*

# Ignore any plots
plots*
ntuples_skimmed

# Ignore latex derivative files
tables/*.aux
tables/*.log
tables/*.out
tables/*.pdf

# Ignore any logs and test files
log/*
test/*
data
*.swp

