# Ignore the build and lib dirs
build/*
lib/*

# Ignore any intermediate stuffs in src dir
src/*_C.d
src/*_C.so
src/*ACLiC*

# Ignore any executables
bin/*

# Ignore any plots
plots*
ntuples_skimmed
collections

# Ignore latex derivative files
tables/*.aux
tables/*.log
tables/*.out
tables/*.pdf

# Ignore files that takes much disks
puInfo

# Ignore any logs and test files
*test*
log/*
test/*
*.swp
